[ req ]
default_bits       = 2048
default_keyfile    = root-ca-key.pem
distinguished_name = req_distinguished_name
x509_extensions    = v3_ca
prompt             = no

[ req_distinguished_name ]
C = KR
ST = SEOUL
L = SEOUL
O = Platform
OU = Platform
CN = RootCA

[ v3_ca ]
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer
basicConstraints = CA:true
keyUsage = cRLSign, keyCertSign
