[ req ]
default_bits       = 2048
default_keyfile    = esnode-master.pem
distinguished_name = req_distinguished_name
req_extensions     = req_ext
prompt             = no

[ req_distinguished_name ]
C  = KR
ST = SEOUL
L  = SEOUL
O  = Platform
OU = Platform 
CN = opensearch-mkt-dev-platform-cluster

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = localhost
DNS.2 = *.opensearch-mkt-dev-platform-cluster-headless.search.svc.cluster.local
DNS.3 = admin
DNS.4 = opensearch-mkt-dev-platform-cluster